/auto-save-list
/elpa*
/anaconda-mode
/request
recentf
bookmarks
emojis/
url/
eshell/
company-statistics-cache.el
games/
newsticker/
projectile-bookmarks.eld
*.elc
.*
history
org-clock-save.el
ac-comphist.dat
network-security.data